@import "style-partials/_colors.scss";
@import "style-partials/_variables.scss";
.flexo-about__header--title,
.flexo-about__company-offer--title {
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: $mainText;
  line-height: 36px;
  font-family: $headerFont;
  font-weight: bold;
  margin-bottom: 6px;

  @include tablet {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.flexo-about__header--into,
.flexo-about__company-offer--text {
  width: 100%;
  color: $mainText;
  font-family: $fontRoboto;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 31px;
  font-weight: 300;
}

.flexo-about__header{
  margin: 40px 0;
  background-image: url("../media/images/flexocore_loop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

  @include tablet {
    margin-bottom: 20px;
  }
}

.flexo-about__company-offer {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 80px;
  }
}

.flexo-about__company-offer--img {
  width: 100%;
  height: auto;
}

.flexo-about__company-offer-category {
  color: $offerColor;
  font-family: $fontRoboto;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 13px;
  margin-top: 17px;

  @include tablet {
    margin-top: 30px;
    margin-bottom: 6px;
  }
}

.flexo-about__company-offer--title {
  text-align: left;
  margin-top: 0;
}


.flexo-about {

  &__header-separator{
    margin: 40px auto;
  }
}