$mainBackground: #F3F3F3;
$separatorColor: #666;
$mainText: #666666 ;
$offerColor: #BDC6CD;
$hrColor: #D6D6D6;
$contrast: #fff;
$mainBlue: #0F6AE6;
$inputBorder: rgba(102,102,102,0.7);
$textShadow: 0 2px 20px 0 rgba(0,0,0,0.1)