@import "colors";

.flexo-contact {

  @include tablet {
    margin-bottom: 80px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    margin-left: 0;
    margin-right: 0;
    flex: 3;
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  &__header {
    color: $mainText;
    font-family: $fontLehigh;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 17px;

    @include tablet {
      font-size: 36px;
    }

    @include desktop {
      margin-bottom: 44px;
    }
  }


  &__story {
    font-family: $fontRoboto;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: $mainText;
    margin: 17px auto;

    @include tablet {
      margin-top: 0;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $inputBorder;
    font-family: $fontRoboto;
    color: $mainText;
    font-size: 14px;
    line-height: 16px;
    padding: 17px 15px;
    margin-bottom: 16px;

    &::placeholder {
      color: #BDC6CD;
    }
  }

  &__textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $inputBorder;
    font-family: $fontRoboto;
    color: $mainText;
    font-size: 14px;
    line-height: 16px;
    padding: 17px 15px;
    resize: none;

    &::placeholder {
      color: #BDC6CD;
    }
  }

  &__button {
    margin-top: 16px;
    display: flex;
    flex-flow: row nowrap;
    background-color: $mainBlue;
    color: $contrast;
    padding: 18px 28px;
    border-radius: 4px;
    font-size: 14px;
    font-family: $fontRoboto;
    font-weight: 500;
    line-height: 16px;

    svg {
      margin-left: 40px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.flexo-info {

  @include desktop {
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1128px;
  }
}

.flexo-thankyou {
  padding: 25px;
  font-family: $fontRoboto;
  font-size: 16px;
  box-shadow: $textShadow;
  position: absolute;
  width: 100%;
  color: white;
  top: 80px;
  background-color: $mainBlue;
  transition: all 1.5s;

  &.hidden {
    opacity: 0;
  }
}