.flexo-information {
  background-color: $contrast;
  padding-top: 35px;
  padding-bottom: 30px;
  border-radius: 4px;

  @include desktop {
    flex: 2;
    align-self: flex-start;
  }
}

.flexo-information__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: $mainText;
  font-family: $fontRoboto;
  font-size: 16px;
  line-height: 22px;
}

.flexo-information__title {
  font-size: 22px;
  letter-spacing: 1px;
  color: $mainText;
  line-height: 36px;
  font-family: $headerFont;
  margin-left: 95px;
  margin-bottom: 20px;

  @include desktop {
    margin-left: 60px;
  }
}

.flexo-information_details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $fontRoboto;
  font-weight: 300;
  margin-left: 95px;

  p {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-left: 60px;
  }
}

.flexo-information__item {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  position: relative;
}

.flexo-icon {
  position: absolute;
  left: -33px;
  margin-top: 5px;
}