* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $mainBackground;
  min-height: 100vh;
}

.container {
  margin: 0 1.5em;
}

.flexo-separator {
  height: 1px;
  background-color: $separatorColor;
  opacity: 0.2;
  width: 100%;

  &.--short {
    width: 25%;
  }
}

a {
  text-decoration: none;
}
